* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url("Collection1/5banner.jpg");
    /* background-position: top right;  */
}

/* Bootstrap Navbar Overrides */
.navbar {
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease;
}

.navbar .logo h2 {
    color: rgb(225, 28, 130);
    letter-spacing: 1px;
    animation: nav 1.3s linear 1;
    font-size: 1.5rem;
}

.navbar .logo img {
    animation: nav 1s linear 1;
}

@keyframes nav {
    from {
        transform: translateY(-100px);
    }
}

/* Custom Search Box in Navbar */
.navbar .search {
    position: relative;
    width: 100%;
}

.navbar .search input {
    height: 45px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px !important;
}

.navbar .search button {
    width: 45px;
    height: 45px;
    background-color: rgb(58, 58, 223);
    color: white;
    border: none;
    border-radius: 0 10px 10px 0 !important;
    transition: 0.3s;
}

.navbar .search button:hover {
    background-color: darkblue;
}

/* Nav Links */
.navbar .nav-link {
    font-size: 18px;
    color: black !important;
    padding: 10px 20px !important;
    transition: 0.3s;
}

.navbar .nav-link.active {
    color: rgb(255, 0, 221) !important;
}

.navbar .nav-link:hover {
    color: rgb(255, 0, 221) !important;
}

/* Login Button in Navbar */
.navbar .login {
    padding: 8px 25px;
    background-color: rgb(225, 28, 130);
    border-radius: 20px;
    color: white !important;
    font-weight: 500;
    transition: 0.3s;
    display: inline-block;
}

.navbar .login:hover {
    background-color: rgb(171, 15, 116);
    transform: scale(1.05);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.container {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(20px);
    padding-top: 80px;
}

.logo {
    display: flex;
    margin-bottom: 20px;
}

.logo img {
    width: 40px;
    height: 40px;
    animation: nav 1s linear 1;
    cursor: pointer;
}

.logo h1 {
    color: rgb(222, 18, 100);
    font-size: 1.5rem;
    margin-top: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: nav 1.3s linear 1;
    cursor: pointer;
}

.main {
    width: 500px;
    height: 630px;
    margin: auto;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 50px rgb(216, 146, 220);
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

@keyframes text {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.main .para {
    animation: text 1s linear 1;
}

i {
    animation: para 1s linear 1;
}

a {
    text-decoration: none;
}

.main h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    text-shadow: 0px 0px 20px pink;
    /* background: url("Collection1/2banner.gif");
    color: transparent;
    background-clip: text;
    background-position: center;
    cursor: pointer; */
    animation: text 1s linear 1;
}

.text {
    width: 80%;
    height: 45px;
    margin-top: 40px;
    margin-left: 20px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid white;
    padding-left: 10px;
    animation: para 1s linear 1;
}

@keyframes para {
    from {
        transform: translatex(-100px);
        opacity: 0;
    }

    to {
        transform: translatex(0px);
        opacity: 1;
    }
}

.text:hover {
    box-shadow: 5px 0px 70px pink;
}

.text:focus {
    outline: 2px solid rgb(41, 87, 204);
}

.mail {
    width: 80%;
    height: 45px;
    margin-top: 40px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid white;
    margin-left: 20px;
    padding-left: 10px;
    animation: para 1s linear 1;
}

.mail:hover {
    box-shadow: 5px 0px 70px black;
}

.mail:focus {
    outline: 2px solid rgb(41, 87, 204);
}

.password {
    width: 80%;
    height: 45px;
    margin-top: 40px;
    border: 2px solid white;
    margin-left: 10px;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    animation: para 1s linear 1;
}

.password:hover {
    box-shadow: 5px 0px 70px black;
}

.password:focus {
    outline: 2px solid rgb(41, 87, 204);
}

.main .login {
    margin-top: 20px;
    width: 60%;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: blue;
    box-shadow: 0px 0px 30px pink;
    color: white;
    font-size: large;
    animation: para 1s linear 1;
}

.login:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.login:active {
    opacity: 0.7;
}

i {
    color: rgb(198, 194, 194);
    position: relative;
    right: 30px;
    top: 2px;
}

.google {
    display: flex;
    margin: 20px auto;
    width: 60%;
    border: none;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 20px pink;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    animation: para 1s linear 1;
}

.google img {
    width: 40px;
    height: 40px;
    margin-right: 50px;
    margin-left: 8px;
}

.google p {
    font-size: large;
    margin-top: 10px;
}

.google:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

@media screen and (max-width:575px) {
    .main {
        width: 90%;
        height: auto;
        padding-bottom: 30px;
    }

    .main h2 {
        font-size: 35px;
    }
}